<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace=绑定一个对应的Dao/Mapper按口-->
<mapper namespace="com.wildchap.dao.UserMapper">
    
    <resultMap id="UserMap" type="User">
        <!--column为数据库的字段，property为实体类的属性-->
        <result column="pwd" property="password"/>
    </resultMap>
    
    <!--查询语句 id:方法名 resultType:返回结果类型-->
    <select id="searchUserByName" parameterType="map" resultMap="UserMap">
        select * from mybatis.user where name like "%"#{value}"%"
    </select>
</mapper>